<div class="row">
  <div class="single-title">
    <h2> <span class="header-text">Comparing <%= @emoji_one %> and <%= @emoji_two %> (daily totals)</span></h2>
  </div>
</div>

<div class="row">
  <div class="comp-chart">
    <h3 class="chart-title">The Past 72 Hours</h3>

    <% data = {
      labels: ["48 hrs", "24 hrs", "0 hrs"],
      datasets: [
        {
            label: @emoji_one,
            #backgroundColor: "rgba(151,187,205,0.2)",
            #borderColor: "rgba(151,187,205,1)",
            backgroundColor: "rgba(61, 162, 104,0.2)",
            borderColor: "rgba(61, 162, 104,1)",
            data: [@first_emo_two , @first_emo_one , @first_emo_zero]
        },
        {
            label: @emoji_two,
            #backgroundColor: "rgba(220,220,220,0.2)",
            #borderColor: "rgba(220,220,220,1)",
            backgroundColor: "rgba(100, 37, 254, 0.2)",
            borderColor: "rgba(100, 37, 254, 1)",

            data: [@second_emo_two, @second_emo_one, @second_emo_zero]
        }
      ]
    }
    options = { begin_at_zero: "true", height: "600", width: "1000", scales: { xAxes: [{ scaleLabel: {display: true, labelString: 'Hours ago'}}], yAxes: [{ scaleLabel: {display: true, labelString: 'Emoji Tracked'}}] }} %>
    <%= line_chart data, options %>

  </div>






</div>
<div class="bottom-nav">
<%# link_to "Return home", controller: "messages" %>
<%= link_to "Back to #{@emoji_one}", :back %>
</div>
