/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require_bootstrap
 */

@import "bootstrap";
$dpurple: #333041;

body{
  background: #8f88b7;
}
.wrapper{
  color: $dpurple;
  //margin-top: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  @extend .container;
  border-radius: 3px;
  background: #b5abf2;
  min-height: 100vh;

}
.navbar-brand{
  margin-left: auto;
  margin-right: auto;
  font-size: 2rem;
}
.intro{
  @extend .col-lg-4;
  @extend .col-md-6;
  @extend .offset-md-3;
  @extend .offset-lg-1;
  //padding: 1rem;
  color: #3f3a5e;
  //text-align: center;
  //margin-bottom: 2rem;
  //margin-top: auto;
  //margin-bottom: auto;

  h1{
    text-align: center;
    font-size: 3rem;
  }
  h3,h5{
    text-align: right;
  }

  p{
    background: #d3ccff;
    padding: 1rem;
    border-radius: 5px;
    margin-top: 1rem;


  }


}

.header-text{
  background: white;
  padding: 7px;
  border-radius: 3px;
  line-height: 1.5;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}



.giant{
  font-size: 5rem;
  text-align: center;
  margin-bottom: 1rem;
  background-color: #ffd494;
  border-radius: 3px;
  animation: changeBgColor 4s infinite;
}

@keyframes changeBgColor{
  0%{
    background-color: #94ecff;
  }

  50%{
    background-color: #b6ff94;
  }

  100%{
    background-color: #94ecff;
  }

}







#messages_index {
  tr {
    text-align: center;
  }
  td {
    text-align: center;
  }
}

.top-ten-list{
  @extend .col-lg-5;
  @extend .offset-lg-1;

  @extend .col-10;
  @extend .offset-1;
  margin-top: auto;
  margin-bottom: auto;

  .num{
    font-size: 1.5rem;
  }



  h3 {
    text-align: center;
  }
  background: white;
  border-radius: 3px;
  padding: 1rem;

  .listed-emoji{
    font-size: 1.5rem;
    transition: all .2s ease-in-out;
    &:hover{
      font-size: 1.2rem;
      text-decoration: none;
    }

  }
}

.single-chart{
  @extend .col-lg-6;
  @extend .offset-lg-1;

  @extend .col-10;
  @extend .offset-1;

  //@extend .offset-lg-4;
  background: white;
  //padding: 1rem;
  //margin-top: 1.5rem;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 3px;
  height: 100%;
  h3.chart-title{
    padding-top: .5rem;
    text-align: center;
  }
}
.comp-chart{
  @extend .offset-lg-1;
  @extend .col-lg-10;

  @extend .col-10;
  @extend .offset-1;

  background: white;
  //padding: 1rem;
  //margin: 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  border-radius: 3px;
  h3.chart-title{
    padding-top: .5rem;
    text-align: center;
  }

}


.single-title{
  h2{
    margin-bottom: 2rem;
    text-align: center;

  }
  margin-left: auto;
  margin-right: auto;

  @extend .col-lg-12;



}


.bottom-nav{
  margin-top: 2rem;
  text-align: center;
  a{
    font-size: 1.5rem;
    color: $dpurple;
    background-color: white;
    padding: 5px;
    border-radius: 3px;
    transition: all .2s ease-in-out;

    &:hover{
      font-size: 1.3rem;
      text-decoration: none;
    }

  }
}
.error{
  @extend .col-lg-12;
}

.stats{

  @extend .col-lg-4;
  //@extend .offset-lg-1;
  margin-top: 1.5rem;
  h2{
    text-align: right;
  }
  #badges{
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .stat-badge{
    font-size: 3rem;
    color: white;
    background: #363150;
    padding: 5px;
  }
  .emo-example{
    background: white;
    padding: 5px 8px;
    border-radius: 1rem;
    font-size: large;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    line-height: 2;

    }
    a.shrink{
      transition: all .2s ease-in-out;
      &:hover{
        font-size: 1rem;
        text-decoration: none;
      //font-size: larger;
    }
  }
  p.emo-graph{
      padding: 8px;
      border-radius: 4px;
      background: #d3ccff;
      line-height: 2;
  }

}
